{{#each this}}

<div class="name-flags">
    <img class="fl" src={{this.flags.svg}} alt="flag" width="20" height="16">
    <h2 class="country-name"> {{this.name.official}}</h2>
</div>      

      <ul class="country-info">
        <li class="">Capital: {{this.capital}}</li>
        <li class="">Population: {{this.population}}</li>
        <li class="">Languages: {{#each this.languages}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}</li>
      </ul>
   
  

{{/each}}