{{#each this}}

<div class="">
    <img class="", src={{this.flags.svg}}, alt="flag", width="", height="">
    <h2 class="country-name"> {{this.name.official}}</h2>
      <ul class="country-properties">
        <li class="">Capital: {{this.capital}}</li>
        <li class="">Population: {{this.population}}</li>
        <li class="">Languages: {{#each this.languages}}{{#if @last}}{{this}}{{else}}, {{/if}}{{this}}{{/each}}</li>
      </ul>
</div>   

{{/each}}